<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabajo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalTokenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App Legend"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".WebView"
            android:exported="true"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DescriptionProduct"
            android:exported="false" />
        <activity
            android:name=".ImageDetail"
            android:exported="false"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".QuejasyReclamos"
            android:exported="false" />
        <activity
            android:name=".RecyclerMain"
            android:exported="false" />
    </application>

</manifest>